# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Backup and temporaries
*~
*.bak
config.h
stamp-h1
*.layout
.bin
.obj

# Misc
ABOUT-NLS
Makefile
*.m4
*.cache
*.log
*.status
configure
intl
m4
*.rc
po
scripts
*.db
*.suppression
.pot
vgcore.*
*.[0-9]

